<!--The content below is only a placeholder and can be replaced.-->
<div [ngStyle]="{
    'background': config.fondo,
    'padding': '20px',
    'border': '5px solid black',
    'border-color': config.color
}">
    <h1>
        Bienvenido al {{ title }}!
    </h1>
    <p>{{ descripcion }}</p>

    <nav>
        <a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a> &nbsp;
        <a [routerLink]="['/zapatillas']" routerLinkActive="router-link-active">Zapatillas</a>&nbsp;
        <a [routerLink]="['/cursos']" routerLinkActive="router-link-active">Cursos</a>&nbsp;
        <a [routerLink]="['/videojuego']" routerLinkActive="router-link-active">Videojuego</a>&nbsp;
        <a [routerLink]="['/externo']" routerLinkActive="router-link-active">Externo</a>&nbsp;
        <a [routerLink]="['/contacto']" routerLinkActive="router-link-active">Contacto</a>&nbsp;
    </nav>

    <hr>
    <!-- 
    <button (click)=" ocultarVideojuegos(false) " *ngIf="mostrar_videojuegos ">Ocultar</button>
    <button (click)="ocultarVideojuegos(true) " *ngIf="!mostrar_videojuegos ">Mostrar</button>

    <app-videojuego *ngIf="mostrar_videojuegos "></app-videojuego>
 
    <app-cursos></app-cursos> -->

    <!-- <app-zapatillas></app-zapatillas> -->

    <router-outlet></router-outlet>
</div>